.car-list-page {
  display: flex;
  flex-direction: row;
}

.car-list-page h1 {
  margin-bottom: 24px;
  color: #333;
  font-size: 2rem;
}

.car-list {
  width: 100%;
  gap: 24px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} 